.icon {
  position: relative;
}

.valid-state {
  border-color: $green-color;
  outline-color: $green-color;
  box-shadow: 0 0 8px $green-color;
  position: relative;
  + .icon::after {
    position: absolute;
    content: "✅";
    top: 50%;
    left: -100%;
    transform: translate(-150%, -50%);
  }
}

.not-valid-state {
  border-color: $red-color;
  outline-color: $red-color;
  box-shadow: 0 0 8px $red-color;
  position: relative;
  + .icon::after {
    position: absolute;
    content: "❌";
    color: $red-color;
    top: 50%;
    left: 100%;
    transform: translate(-150%, -50%);
  }
}

.success-message {
  font-size: 16px;
  color: $green-color;
  text-align: start;
  width: 100%;
  & span {
    color: $green-color;
  }
}

.error-message {
  font-size: 16px;
  color: $red-color;
  text-align: start;
  width: 100%;
  & span {
    color: $red-color;
  }
}
