@import "../shared/validation-input-states.scss";

input {
  padding: 16px 32px;
  border-color: $grey-color;
  font-size: 18px;
}

#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: $white-color;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 32px 64px;
  width: 100%;
}

#email-input {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
  & .email {
    display: flex;
    flex-grow: 2;
    #email-field {
      flex-grow: 2;
      font-size: 18px;
    }
  }
}

#password-input {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
  & .password {
    position: relative;
    display: flex;
    flex-grow: 2;
    #password-field {
      flex-grow: 3;
      font-size: 18px;
    }
  }
  & .eye {
    position: absolute;
    color: $teal-color;
    padding: 16px;
    font-size: 22px;
    right: 0;
  }
  & .not-valid-state + .icon::after {
    transform: translate(-5em, -50%) !important;
  }
  & .valid-state + .icon::after {
    transform: translate(-5em, -50%) !important;
  }
}

#actions {
  width: 100%;
  #login-button {
    padding: 16px 32px;
    background-color: $teal-color;
    color: $white-color;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      background-color: $light-teal-color;
    }
  }
}
